[dir=rtl] .Chart-Navigation-title{
    font-family: OpenSan, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: right;
    color: #0575e6;
    display: inline-block;
    float: right;
}
