[dir=rtl] th {
    text-align: right;
    /*background-color: #4CAF50;*/
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.45px;
    color: #0575e6;
}

[dir=rtl] .checkbox-th {
    padding-left: 21px!important;
    text-align: center;
}