[dir=rtl] .nova-patient-header-name{
    font-family: OpenSan, sans-serif;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.9px;
    text-align: right;
    color: #0575e6;
    padding-right: 30px;
}
[dir=rtl] .nova-patient-header-options{
    float: left;
    padding-left: 30px;
}
[dir=rtl] .nova-patient-left{
    width: 23%;
    margin-left: 1.5%;
    float: none;
    vertical-align: top;
}
[dir=rtl] .status-label{
    font-family: OpenSan, sans-serif;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: right;
}
[dir=rtl] .patient-personal-td-left{
    min-width: 120px;
    text-align: right;
    vertical-align: top;
}
[dir=rtl] .patient-personal-td-right{
    text-align: right;
    vertical-align: top;
}
[dir=rtl] .patient-personal-label{
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: 0.45px;
    text-align: right;

    color: #0575e6;
    cursor: pointer;
}
[dir=rtl] .patient-personal-svg{
    cursor: pointer;
    position: absolute;
    left: 0;
    transform: rotate(180deg);
}
[dir=rtl] .patient-info-options-element{
    text-align: right;
}
[dir=rtl] .patient-options-btn:nth-last-child(n+2){
    margin-left: 10px
}
[dir=rtl] .patient-options-btn-update{
    position: relative;
    right: 0px;
}
[dir=rtl] .patient-options-btn-delete{
    position: relative;
    left: 0px;
}
[dir=rtl] .nova-patient-right-left{
    width: 49%;
    margin-left: 2%;
    float: none;
    vertical-align: top;
}
[dir=rtl] .nova-patient-right-left-top-element:nth-last-child(n+2){
    margin-left: 2%;
}
[dir=rtl] .nova-patient-right-left-top-left-top{
    float: right;
    display: block;
    width: 100%;
    margin-top: 40px!important;
    margin-bottom: 20px!important;
    position: relative;
}
[dir=rtl] .nova-patient-right-left-bottom-left-element{
    float: right;
    display: block;
    width: 100%;
    margin-top: 20px!important;
    height: calc(100% - 70px);
    margin-bottom: 20px!important;
    position: relative;
}
[dir=rtl] .patient-nearVa-value:nth-last-child(n+2){
    margin-left: 10%;
}
@media only screen and (max-width: 1413px) {
    [dir=rtl] .patient-nearVa-value:nth-last-child(n+2){
        margin-left: 0px;
    }
}
[dir=rtl] sup {
    top: -20px!important;
    margin-right: 5px;
    font-size: 14px!important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29!important;
    letter-spacing: 0.35px;
    text-align: center;
    color: #0575e6;
}
[dir=rtl] .patient-page-value-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    color: #000000;
    float: right;
    display: block;
    width: 100%;
}
[dir=rtl] .nova-patient-right-left-bottom-element:nth-last-child(n+2){
    border-right:1px solid #e1e1e1;
}
[dir=rtl] .nova-patient-right-right-element{
    margin-top: 2%;
    height: 265px;
    background-color: #f9f9f9;
    display: inline-block;
    float: right;
}
[dir=rtl] .nova-patient-right-right-element{
    margin-left: 2%;
}
[dir=rtl] .nova-patient-right-right-left{
    width: 35%;
    margin-right: 2%;
}
[dir=rtl] .patient-personal-td-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.35px;
    text-align: right;
    color: #0575e6;
    margin-bottom: 0px;
}
[dir=rtl] .nova-patient-right-element{
    margin-bottom: 20px;
}
[dir=rtl] .patient-profile-visual-acuity-container{
    width: 49%;
    border: 1px solid #e1e1e1;
    height: 460px;
    float: none;
    vertical-align: top;
    display: inline-block;
    margin-left: 2%;
    padding-top: 24px;
}
[dir=rtl] .patient-profile-visual-acuity-info-label{
    width: 30%;
    height: 100%;
    background-color: #efefef;
    display: inline-block;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #0575e6;
    float: right;
    text-align: center;
}
[dir=rtl] .patient-profile-visual-acuity-info-element{
    width: calc(70% / 3);
    height: 100%;
    background-color: #f9f9f9;
    display: inline-block;
    float: right;
}
[dir=rtl] .patient-profile-table-header-label{
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: 0.45px;
    text-align: right;
    color: #0575e6;
}
[dir=rtl] .patient-personal-td-label-left{
    text-align: right;
}
[dir=rtl] .patient-profile-table-body-label:nth-child(1), .patient-profile-table-header-label:nth-child(1){
    padding-right: 20px;
}
[dir=rtl] .patient-profile-table-subheader-label{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: right;
    color: #0575e6;
}
[dir=rtl] .patient-profile-table-body-label{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: right;
    color: #000000;
}
[dir=rtl] .table-Navigation-title{
    font-family: OpenSan, sans-serif;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: right;
    color: #0575e6;
    display: inline-block;
    float: right;
    min-height: 45px;
}
[dir=rtl] .patient-profile-visit-history-link{
    text-align: left!important;
    float: left;
}
[dir=rtl] .visit-history-new-visit-btn{
    display: inline-block;
    height: 120px;
    width: 150px;
    float: left;
    margin-top: 50px;
}
[dir=rtl] .patient-profile-treatment-history-subtitle{
    font-family: OpenSan, sans-serif;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: right;
    color: #0575e6;
    display: inline-block;
    float: right;
    min-height: 26.25px;
}
[dir=rtl] .va-improvement-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: right;
    color: #000000;
    display: inline-block;
    margin-right: 5px;
}
[dir=rtl] .va-left-improvement-value{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: right;
    color: #000000;
    display: inline-block;
    margin-right: 15px;
}
[dir=rtl] .patient-profile-visual-acuity-left-info{
    padding-right: 20px;
}
[dir=rtl] .patient-profile-visual-acuity-right-info{
    padding-right: 7px;
}