.PatientsNotes{
    resize: none;
    width: 1356px;
    height: 280px;
}
[dir=rtl] .Patient-personal-Form{
    padding-right: 20px;
}
.Patient-personal-form-container:nth-last-child(n+2){
    margin-bottom: 60px;
}
.Patient-personal-form-element{
    display: inline-block;
    width: 424px;
}
.Patient-personal-form-element:nth-last-child(n+2){
    margin-right: 40px;
}
.Patient-personal-form-container:nth-last-child(n+2){
    margin-bottom: 15px;
}
.Patient-Form-next-button{
    height: 60px;
    width: 235px;
    font-family: OpenSan, sans-serif!important;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: 0.6px;
    color: var(--white);
    float: right;
}
.nova-patient-form-footer{
    padding-bottom: 50px!important;
}
