[dir=ltr] .Chart-Navigation-title{
    font-family: OpenSan, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #0575e6;
    display: inline-block;
    float: left;
}
.chart-area{
    display: flex;
    margin-top: 8px;
    width: 100%;
}
.chart-container{
    display: inline-block;
    width: calc(100% - 60px);
}
.chart-arrow{
    display: inline-block;
    width: 30px;
    visibility: visible;
}
.chart-area .chart-arrow:hover{
    cursor: pointer;
}
