.graph-navigator-container{
    width: 100%;
    height: 800px;
    background-color: #f9f9f9;
    padding: 30px 20px;
    display: inline-flex;
}
.graph-controller-container{
    width: 20%;
    border-right: 1px solid #e1e1e1;
    height: 100%;
    display: inline-block;
    padding-right: 20px;
}
.graph-navs-container{
    width: 100%;
    height: 100%;
    background:rgba(140,140,140,0.01);
    padding-bottom: 10px;
}
.graph-navs{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.nav-button-container{
    width: 90%;
    padding: 10px 0;
}
.nav-button{
    height: 50px;
    width: 100%;
    background: #e9e9e9;
    border: unset;
    border-radius: 5px;
}
.nav-button:hover{
    background: #c1c1c1;
}
.nav-button:focus{
    background:rgba(25,25,25,0.4);
    outline: unset;
    color: white;
}
.graphs-container{
    width: 80%;
    height: 100%;
    display: inline-block;
    padding-left: 20px;
}
/* width */
.graph-navs::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

/* Track */
.graph-navs::-webkit-scrollbar-track {
    background: #e9e9e9;
    border-radius: 10px;
}

/* Handle */
.graph-navs::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 10px;
}

/* Handle on hover */
.graph-navs::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}

.graph-controller-side-nav{
    height: 100%;
    background: rgba(143,143,143,0.3);
    float: right;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.6s;
}
.graph-controller-side-nav-controller{
    height: 50px;
    width: 50px;
    background: transparent;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-left: 3px solid #e1e1e1;
    border-top: 3px solid #e1e1e1;
    border-bottom: 3px solid #e1e1e1;
    float: right;
}
.nav-controller{
    cursor: pointer;
}
.nav-controller:hover{
    border: 2px solid transparent;
}
.graph-container{
    background: white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}