
table{
    border-collapse: collapse;
    width: 100%;
}

td{
    border-top: 1px solid #ddd;
    padding: 8px;
}
.nova-table-tabs-container{
    min-height: 515px;
}
/*tr:nth-child(even){background-color: #f2f2f2;}*/


tbody tr:hover {background-color: #ddd;}

th {
    text-align: left;
    /*background-color: #4CAF50;*/
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.45px;
    color: #0575e6;
}

.Nova-Checkbox-td{
    width: 40px!important;
}
