.nova-patient-header{
    height: 115px;
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../assets/loginbg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
[dir=ltr] .nova-patient-header-name{
    font-family: OpenSan, sans-serif;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.9px;
    text-align: left;
    color: #0575e6;
    padding-left: 30px;
}
[dir=ltr] .nova-patient-header-options{
    float: right;
    padding-right: 30px;
}
.nova-patient{
    padding-top: 75px;
    position: relative;
    margin-bottom: 30px;
}
[dir=ltr] .nova-patient-left{
    width: 23%;
    margin-right: 1.5%;
    float: none;
    vertical-align: top;
}
.nova-patient-screen-Status{
    width: 100%;
    height: 140px;
    margin-bottom: 15px;
    border: 0!important;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 rgba(0, 98, 204,0.4);
}
[dir=ltr] .status-label{
    font-family: OpenSan, sans-serif;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: left;
}
.status-icon{
    padding-top: 20px;
}
.link{
    cursor: pointer!important;
}
.status-send-message{
    font-family: OpenSan, sans-serif;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
}
.nova-patient-screen-info{
    width: 100%;
    height: max-content;
    border: 0!important;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 rgba(0, 98, 204,0.4);
}
.patient-device-info{
    padding-top: 20px;
}
.patient-device{
    width: 90%;
    height: 75px;
    background-color: #f9f9f9;
    margin: 0!important;
    float: none;
}
.patient-personal-tr{
    border: none;
}
[dir=ltr] .patient-personal-td-left{
    min-width: 120px;
    text-align: left;
    vertical-align: top;
}
[dir=ltr] .patient-personal-td-right{
    text-align: left;
    vertical-align: top;
}
.patient-info-options{
    width: 90%;
    margin-top: 30px!important;
}
[dir=ltr] .patient-personal-label{
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: 0.45px;
    text-align: left;
    color: #0575e6;
    cursor: pointer;
}
[dir=ltr] .patient-personal-svg{
    cursor: pointer;
    position: absolute;
    right: 0;
}
.patient-info-options-element:nth-last-child(n+2){
    border-bottom: 1px solid #e1e1e1;
}
.patient-info-options-element{
    padding-bottom: 10px!important;
    padding-top: 10px!important;
}
.patient-personal-information-view{
    padding-top: 20px;
}
.patient-personal-information-view-container{
    height: 90px;
    background-color: #f9f9f9;
    margin: 0!important;
}
.patient-contact-information-view{
    padding-top: 20px;
}
.patient-contact-information-view-container{
    height: 150px;
    background-color: #f9f9f9;
    margin: 0!important;
}

.patient-notes-view{
    padding-top: 20px;
}
.patient-notes-view-container{
    min-height: 80px;
    max-height: 150px;
    background-color: #f9f9f9;
    margin: 0!important;
    padding: 5px;
}
.patient-options{
    margin-top: 20px!important;
    width: 90%;
    padding-bottom: 20px;
    float: none!important;
}
.patient-options-btn{
    width: 47.5% !important;
    height: 47px;
}
[dir=ltr] .patient-options-btn:nth-last-child(n+2){
    margin-right: 10px
}
[dir=ltr] .patient-options-btn-update{
    position: relative;
    left: 0;
}
[dir=ltr] .patient-options-btn-delete{
    position: relative;
    right: 0;
}
.nova-patient-right{
    width: 75%;
}
[dir=ltr] .nova-patient-right-left{
    width: 49%;
    margin-right: 2%;
    float: none;
    vertical-align: top;
}
.nova-patient-right-left-element{
    height: 300px;
}
.nova-patient-right-left-element:nth-last-child(n+2){
    margin-bottom: 20px;
}
[dir=ltr] .nova-patient-right-left-top-element:nth-last-child(n+2){
    margin-right: 2%;
}
.nova-patient-right-left-top-element{
    width:49%;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
}

[dir=ltr] .nova-patient-right-left-top-left-top{
    float: left;
    display: block;
    width: 100%;
    margin-top: 40px!important;
    margin-bottom: 20px!important;
    position: relative;
}
[dir=ltr] .nova-patient-right-left-bottom-left-element{
    float: left;
    display: block;
    width: 100%;
    margin-top: 20px!important;
    height: calc(100% - 70px);
    margin-bottom: 20px!important;
    position: relative;
}
[dir=ltr] .patient-nearVa-value:nth-last-child(n+2){
    margin-right: 10%;
}
@media only screen and (max-width: 1413px) {
    [dir=ltr] .patient-nearVa-value:nth-last-child(n+2){
        margin-right: 0;
    }
    .nova-patient-right-left-bottom-left-element{
        margin-top: 8px!important;
    }
    .patient-nearVa-values-element{
        margin-top: 20px!important;
    }
}
.nova-patient-right-left-bottom-element .patient-page-value-label{
    height: 40px;
}
[dir=ltr] sup {
    top: -20px!important;
    margin-left: 5px;
    font-size: 14px!important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29!important;
    letter-spacing: 0.35px;
    text-align: center;
    color: #0575e6;
}
.patient-value{
    font-family: OpenSan, sans-serif;
    font-size: calc(22px + 0.4vw);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: center;
    color: #0575e6;
}
[dir=ltr] .patient-page-value-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    color: #000000;
    float: left;
    display: block;
    width: 100%;
}
.nova-patient-right-left-bottom{
    background-color: #f9f9f9;
    border-radius: 5px;
}
.nova-patient-right-left-bottom-element{
    width: 33.3333%;
    height: 80%;
    position: relative!important;
}
[dir=ltr] .nova-patient-right-left-bottom-element:nth-last-child(n+2){
    border-right:1px solid #e1e1e1;
}
.nova-patient-right-right{
    width: 49%;
    border: 1px solid #e1e1e1;
    height: 300px;
    float: none;
    vertical-align: top;
}
[dir=ltr] .nova-patient-right-right-element{
    margin-top: 2%;
    height: 265px;
    background-color: #f9f9f9;
    display: inline-block;
    float: left;
}
[dir=ltr] .nova-patient-right-right-element{
    margin-right: 2%;
}
[dir=ltr] .nova-patient-right-right-left{
    width: 35%;
    margin-left: 2%;
}
.nova-patient-right-right-middle{
    width: 35%;
}
.nova-patient-right-right-right{
    width: 22%;
    background-color: unset!important;
}
.nova-patient-right-right-left-element{
    height: 90%;
    margin-top: 35px;
}

.patient-previous-visit-value{
    margin-top: 40px;
    height: 55px;
    text-align: center;
    width: 100%;
}
.patient-previous-visit-report{
    margin-top: 35px!important;
}
.patient-Next-visit-btn{
    margin-top: 35px!important;
}
.patient-visit-date-button{
    font-family: OpenSan, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-size: 13px !important;
    line-height: 1;
    letter-spacing: 0.45px;
    /*margin-right: 5px;*/
    width: calc(100% - 60px);
    background-color: unset!important;
    color: #0575e6!important;
}
.patient-visit-date-button:hover{
    color: white!important;
}
.patient-visit-date-button:focus{
    background-color: unset!important;
    color: #0575e6!important;
}
.patient-Next-visit-value{
    height: 55px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}
[dir=ltr] .patient-personal-td-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.35px;
    text-align: left;
    color: #0575e6;
    margin-bottom: 0;
}

.add-new-visit-btn{
    width: 100%;
    height: calc(90px + 1.5vw);
    position: relative;
    top: 0;
}
#filler{
    height: calc(100% - 3vw - 180px);
}
.visit-history-btn{
    width: 100%;
    height: calc(90px + 1.5vw);
    position: relative;
    bottom: 0;
}
.patient-timeline-btn-label{
    display: block;
    padding-top: 5px;
}
[dir=ltr] .nova-patient-right-element{
    margin-bottom: 20px;
}
[dir=ltr] .patient-profile-visual-acuity-container{
    width: 49%;
    border: 1px solid #e1e1e1;
    height: 460px;

    float: none;
    vertical-align: top;
    display: inline-block;
    margin-right: 2%;
    padding-top: 24px;
}
.patient-profile-stereo-acuity-container{
    width: 49%;
    border: 1px solid #e1e1e1;
    height: 460px;
    float: none;
    vertical-align: top;
    display: inline-block;
    padding-top: 24px;

}
.patient-profile-visual-acuity-container .Chart-Navigation-title{
    width: 35%;
    position: relative!important;
}
.patient-profile-compliance-container{
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 460px;
    float: none;
    vertical-align: top;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.full-width{
    width: 100%;
    height: 67.5px;
}
.patient-profile-visit-history-container, .patient-profile-prescription-container{
    width: 100%;
    border: 1px solid #e1e1e1;
    min-height: 300px;
    float: none;
    vertical-align: top;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.patient-profile-treatment-history-container{
    width: 100%;
    border: 1px solid #e1e1e1;
    height: max-content;
    min-height: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: top;
    padding-right: 40px;
    padding-left: 40px;
}
.patient-profile-visual-acuity-info{
    width: 65%;
    height: 55px;
}
[dir=ltr] .patient-profile-visual-acuity-info-label{
    width: 30%;
    height: 100%;
    background-color: #efefef;
    display: inline-block;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #0575e6;
    float: left;
    text-align: center;
}
.patient-profile-visual-acuity-info-label label{
    position: relative;

}
[dir=ltr] .patient-profile-visual-acuity-info-element{
    width: calc(70% / 3);
    height: 100%;
    background-color: #f9f9f9;
    display: inline-block;
    float: left;
}
#patient-profile-visual-acuity-info-left-rect{
    width: 10px;
    height: 10px;
    object-fit: contain;
    border-radius: 3px;
    background-color: #0575e6;
    display: inline-block;
}
#patient-profile-visual-acuity-info-right-rect{
    width: 10px;
    height: 10px;
    object-fit: contain;
    border-radius: 3px;
    background-color: #034e99;
    display: inline-block;
}
#patient-profile-visual-acuity-info-binocular-rect{
    width: 10px;
    height: 10px;
    object-fit: contain;
    border-radius: 3px;
    background-color: #25a6ff;
    display: inline-block;
}
.patient-profile-visual-acuity-info{
    display: inline-block;
}

.patient-profile-visit-history-table{
    width: calc(100% - 200px);
    display: inline-block;
}
.patient-profile-table{
    width: 100%;
}
.patient-profile-table-body-container{
    border: unset;
}
.patient-profile-table-header{
    background-color: #f9f9f9;
    height: 40px;
    border: unset;
}
[dir=ltr] .patient-profile-table-header-label{
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: 0.45px;
    text-align: left;
    color: #0575e6;
}
[dir=ltr] .patient-profile-table-body-label:nth-child(1), .patient-profile-table-header-label:nth-child(1){
    padding-left: 20px;
}
.patient-profile-table-subheader{
    height: 45px;
    border: unset;
}
[dir=ltr] .patient-profile-table-subheader-label{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: left;
    color: #0575e6;
}
.patient-profile-table-body-element{
    border: unset;
    height: 50px;
}
.patient-profile-table-body-element:nth-last-child(n+2){
    border-bottom: 1px solid #e1e1e1;
}
[dir=ltr] .patient-profile-table-body-label{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: left;
    color: #000000;
}
[dir=ltr] .table-Navigation-title{
    font-family: OpenSan, sans-serif;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #0575e6;
    display: inline-block;
    float: left;
    min-height: 45px;
}
.small-cell{
    max-width: 55px;
}
[dir=ltr] .patient-profile-visit-history-link{
    text-align: right!important;
    float: right;
}
.patient-profile-visit-history-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
[dir=ltr] .visit-history-new-visit-btn{
    display: inline-block;
    height: 120px;
    width: 150px;
    float: right;
    margin-top: 50px;
}
.patient-profile-table-body-title{
    width: 210px;
    color: #0575e6;
}
.large-cell{
    min-width: 60px;
}
[dir=ltr] .patient-profile-treatment-history-subtitle{
    font-family: OpenSan, sans-serif;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #0575e6;
    display: inline-block;
    float: left;
    min-height: 26.25px;
}
.patient-profile-more-switch{
    position: relative;
    height: 30px;
    min-width: 160px;
    width: max-content;
    cursor: pointer;
}
.Chart-option{
    padding-left: 30px;
    padding-right: 30px;
}
.patient-profile-stereo-acuity-container .Chart-option{
    min-height: 67.5px;
}
.va-improvement{
    display: block;
    width: 100%;
}
[dir=ltr] .va-improvement-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: left;
    color: #000000;
    display: inline-block;
    margin-left: 5px;
}
.improvement-square{
    width: 10px;
    height: 10px;
    object-fit: contain;
    border-radius: 3px;
    display: inline-block;
}
.left-improvement-square{
    background-color: #25a6ff;
}
.right-improvement-square{
    background-color: #034e99;
}
.binocular-improvement-square{
    background-color: #0575e6;
}
[dir=ltr] .va-left-improvement-value{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.35px;
    text-align: left;
    color: #000000;
    display: inline-block;
    margin-left: 15px;
}
[dir=ltr] .patient-profile-visual-acuity-left-info{
    padding-left: 20px;
}
[dir=ltr] .patient-profile-visual-acuity-right-info{
    padding-left: 7px;
}